.container {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 428px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media screen and (max-width: 767px) {
.mobile-menu {
  position: fixed;
  top: 0;
  left: auto;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
    
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-open {
    border: none;
    padding: 0;
    line-height: 0;
    background: transparent;

    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-icon {
    fill: black;
    stroke: black;
}

.mobile-menu-button {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-color: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(-color-grey);
    cursor: pointer;
    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-button:hover {
    background-color: var(--color-hover);
    fill: var(--color-body);
}

.mobile-menu-list {
    padding-top: 80px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-item {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.mobile-menu-item:focus {
    color: var(--color-hover);
}

.mobile-menu-tel {
    margin-bottom: 40px;
}

.mobile-menu-address-mail:last-child {
    margin-bottom: 0;
}

.mobile-menu-address-list {
    padding-left: 40px;
    padding-bottom: 48px;
}

.mobile-menu-tel {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.mobile-menu-tel:focus {
    color: var(--color-hover);
}

.mobile-menu-email {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-menu-email:focus {
    color: var(--color-hover);
}

.social-menu {
    display: flex;
    justify-content: space-around;
    padding-left: 10px;
    padding-bottom: 40px;
}

.mobile-menu-soc-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-button);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-soc-list:focus {
    background-color: var(--color-hover);
}
}

/*-----Description-----*/

@media screen and (min-width: 768px) {
.mobile-menu {
    display: none;
}
.mobile-menu-open {
    display: none;
} 
}
@media screen and (max-width: 768px) {
.description {
  padding-top: 96px;
  padding-bottom: 96px;
  }

.hidden {
  margin-top: 0;
  margin-bottom: 0;
}

.description-item {
  margin-bottom: 72px;
}

.description-item:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.description-title {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  }

.description-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
}

/*-----Work-----*/

@media screen and (max-width: 768px) {
.work {
  display: none;
}
}


/*-----Team-----*/

@media screen and (max-width: 768px) {
.team {
  background-color: var(--color-cloud);
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-footer);
}
.team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.team-item {
  background-color: #fff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 72px;
  margin-right: 0;
}
}

/*-----Customers-----*/

@media screen and (max-width:768px) {
.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(-color-footer);
margin-bottom: 72px;
}

.customers-list {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 16px;
  row-gap: 72px;
}

.customers-link {
  display: flex;
  width: 100%;
  max-width: 190px;
  height: 88px;
  justify-content: center;
  align-items: center;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  fill: #8E8F99;
  padding: 0;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover, 
.customers-link:focus {
  fill: var(--color-hover);
  border: 1px solid #404bbf;
}

.customers-icon {
  fill: currentColor;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}

/*-----Footer-----*/

@media screen and (max-width: 768px) {
.footer {
  background: var(--color-footer);
  color: var(--color-cloud);
  display: flex;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-button);
}

.footer-logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
 color: var(--color-cloud);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-cloud);
  margin-top: 16px;
}


.footer-soc {
  margin-top: 72px;
  margin-bottom: 72px;
}

.footer-soc-text {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.footer-soc-link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
background-color: #31d0aa;
}

.footer-subscribe  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-body);
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.subscribe-input {
  width: 100%px;
  height: 40px;
  border: 1px solid var(--color-body);
  border-radius: 4px;
  outline: none;
  filter: drop-shadow(0px 4px 4px rgba(0 0 0 0.15));
  padding-left: 16px;
  background-color:var(--color-grey);
  color: var(--color-body);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:hover, 
.subscribe-input:focus {
border: 1px solid var(--color-hover);
}

.subscribe-input::placeholder {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.4;
  align-items: center;
  color: var(--color-body)
}

.footer-button {
  display: flex;
  flex-direction: row;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 8px 24px;
  gap: 16px;
  color: var(--color-body)  ;
  background-color: var(--color-button);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-plane {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #fff;
}
}